.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.975098;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.684082;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._d{margin-left:-237.856000px;}
._f{margin-left:-186.144000px;}
._7{margin-left:-162.768000px;}
._16{margin-left:-154.944000px;}
._b{margin-left:-146.336000px;}
._14{margin-left:-107.888000px;}
._12{margin-left:-36.784000px;}
._3{margin-left:-33.360000px;}
._5{margin-left:-28.816000px;}
._9{margin-left:-23.536000px;}
._a{margin-left:-3.312000px;}
._6{width:2.256000px;}
._4{width:6.672000px;}
._13{width:9.840000px;}
._1e{width:45.488000px;}
._1f{width:71.248000px;}
._15{width:81.456000px;}
._11{width:89.952000px;}
._22{width:97.648000px;}
._1d{width:107.264000px;}
._19{width:113.632000px;}
._c{width:119.856000px;}
._17{width:128.256000px;}
._1b{width:130.272000px;}
._20{width:132.784000px;}
._8{width:136.272000px;}
._1c{width:139.376000px;}
._10{width:159.456000px;}
._18{width:168.368000px;}
._1a{width:171.312000px;}
._e{width:211.056000px;}
._23{width:222.448000px;}
._1{width:249.200000px;}
._0{width:263.600000px;}
._2{width:278.000000px;}
._21{width:317.424000px;}
.fc2{color:rgb(0,0,128);}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:48.000000px;}
.y1{bottom:0.000000px;}
.y0{bottom:503.500000px;}
.y1a{bottom:563.000000px;}
.y19{bottom:579.200000px;}
.y16{bottom:595.400000px;}
.y18{bottom:611.600000px;}
.y17{bottom:627.800000px;}
.y15{bottom:718.700000px;}
.y13{bottom:734.900000px;}
.y14{bottom:751.100000px;}
.y12{bottom:790.100000px;}
.y11{bottom:806.300000px;}
.ye{bottom:822.500000px;}
.y10{bottom:838.700000px;}
.yf{bottom:854.900000px;}
.yb{bottom:893.900000px;}
.yd{bottom:902.000000px;}
.y9{bottom:910.100000px;}
.yc{bottom:918.200000px;}
.ya{bottom:926.300000px;}
.y8{bottom:965.300000px;}
.y7{bottom:981.500000px;}
.y4{bottom:997.700000px;}
.y6{bottom:1013.900000px;}
.y5{bottom:1030.100000px;}
.y2{bottom:1084.900000px;}
.y3{bottom:1086.400000px;}
.h4{height:31.992188px;}
.h3{height:35.531250px;}
.h1{height:630.500000px;}
.h2{height:1190.500000px;}
.h0{height:1190.522835px;}
.w1{width:789.500000px;}
.w2{width:841.800000px;}
.w0{width:841.861417px;}
.x1{left:0.000000px;}
.x0{left:24.000000px;}
.x2{left:66.600000px;}
.xc{left:139.700000px;}
.x6{left:157.600000px;}
.x4{left:160.100000px;}
.x5{left:162.500000px;}
.xe{left:164.500000px;}
.x3{left:172.000000px;}
.xd{left:175.500000px;}
.x7{left:253.300000px;}
.xf{left:257.200000px;}
.x15{left:268.900000px;}
.x10{left:280.200000px;}
.x14{left:386.700000px;}
.x11{left:398.000000px;}
.x12{left:402.500000px;}
.x8{left:477.800000px;}
.x13{left:496.300000px;}
.x16{left:498.200000px;}
.x17{left:500.600000px;}
.xa{left:502.600000px;}
.x18{left:509.400000px;}
.x9{left:513.600000px;}
.xb{left:606.100000px;}
.x19{left:624.900000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._d{margin-left:-317.141333pt;}
._f{margin-left:-248.192000pt;}
._7{margin-left:-217.024000pt;}
._16{margin-left:-206.592000pt;}
._b{margin-left:-195.114667pt;}
._14{margin-left:-143.850667pt;}
._12{margin-left:-49.045333pt;}
._3{margin-left:-44.480000pt;}
._5{margin-left:-38.421333pt;}
._9{margin-left:-31.381333pt;}
._a{margin-left:-4.416000pt;}
._6{width:3.008000pt;}
._4{width:8.896000pt;}
._13{width:13.120000pt;}
._1e{width:60.650667pt;}
._1f{width:94.997333pt;}
._15{width:108.608000pt;}
._11{width:119.936000pt;}
._22{width:130.197333pt;}
._1d{width:143.018667pt;}
._19{width:151.509333pt;}
._c{width:159.808000pt;}
._17{width:171.008000pt;}
._1b{width:173.696000pt;}
._20{width:177.045333pt;}
._8{width:181.696000pt;}
._1c{width:185.834667pt;}
._10{width:212.608000pt;}
._18{width:224.490667pt;}
._1a{width:228.416000pt;}
._e{width:281.408000pt;}
._23{width:296.597333pt;}
._1{width:332.266667pt;}
._0{width:351.466667pt;}
._2{width:370.666667pt;}
._21{width:423.232000pt;}
.fs0{font-size:64.000000pt;}
.y1{bottom:0.000000pt;}
.y0{bottom:671.333333pt;}
.y1a{bottom:750.666667pt;}
.y19{bottom:772.266667pt;}
.y16{bottom:793.866667pt;}
.y18{bottom:815.466667pt;}
.y17{bottom:837.066667pt;}
.y15{bottom:958.266667pt;}
.y13{bottom:979.866667pt;}
.y14{bottom:1001.466667pt;}
.y12{bottom:1053.466667pt;}
.y11{bottom:1075.066667pt;}
.ye{bottom:1096.666667pt;}
.y10{bottom:1118.266667pt;}
.yf{bottom:1139.866667pt;}
.yb{bottom:1191.866667pt;}
.yd{bottom:1202.666667pt;}
.y9{bottom:1213.466667pt;}
.yc{bottom:1224.266667pt;}
.ya{bottom:1235.066667pt;}
.y8{bottom:1287.066667pt;}
.y7{bottom:1308.666667pt;}
.y4{bottom:1330.266667pt;}
.y6{bottom:1351.866667pt;}
.y5{bottom:1373.466667pt;}
.y2{bottom:1446.533333pt;}
.y3{bottom:1448.533333pt;}
.h4{height:42.656250pt;}
.h3{height:47.375000pt;}
.h1{height:840.666667pt;}
.h2{height:1587.333333pt;}
.h0{height:1587.363780pt;}
.w1{width:1052.666667pt;}
.w2{width:1122.400000pt;}
.w0{width:1122.481890pt;}
.x1{left:0.000000pt;}
.x0{left:32.000000pt;}
.x2{left:88.800000pt;}
.xc{left:186.266667pt;}
.x6{left:210.133333pt;}
.x4{left:213.466667pt;}
.x5{left:216.666667pt;}
.xe{left:219.333333pt;}
.x3{left:229.333333pt;}
.xd{left:234.000000pt;}
.x7{left:337.733333pt;}
.xf{left:342.933333pt;}
.x15{left:358.533333pt;}
.x10{left:373.600000pt;}
.x14{left:515.600000pt;}
.x11{left:530.666667pt;}
.x12{left:536.666667pt;}
.x8{left:637.066667pt;}
.x13{left:661.733333pt;}
.x16{left:664.266667pt;}
.x17{left:667.466667pt;}
.xa{left:670.133333pt;}
.x18{left:679.200000pt;}
.x9{left:684.800000pt;}
.xb{left:808.133333pt;}
.x19{left:833.200000pt;}
}
